# The name of the workflow as it appears in the GitHub Actions tab
name: DeployToAzure

# WHEN: Define the events that trigger the workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  resourceGroupName: rg-github-om
# WHERE: Define the execution environment
jobs:
  build-and-test:
    # This specifies the type of runner the job will run on
    runs-on: ubuntu-latest

    # WHAT: The sequence of tasks (steps) to execute
    steps:
      # 1. Pulls your code from the repository onto the runner
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v2
        with:
          # Ensure you have a secret named AZURE_CREDENTIALS in your repo settings
          creds: ${{ secrets.AZURE_CREDENTIALS_Internal }}
          enable-AzPSSession: true
        
      - name: build the bicep file into arm
        uses: Azure/cli@v2.2.0
        with:
          # Specify the script here
          inlineScript: az bicep build --file main.bicep --outfile ./main.json
          
  
      - name: Create the ResourceGroup
        uses: Azure/powershell@v2
        with:
          inlineScript: New-AzResourceGroup -Name ${{ env.resourceGroupName }} -location CentralUS -Force
          azPSVersion: "latest"
          
          
      - name: Deploy Azure Resource Manager (ARM) Template
        uses: Azure/arm-deploy@v2
        with:
          # Provide the scope of the deployment. Valid values are: 'resourcegroup', 'tenant', 'managementgroup', 'subscription'
          scope: resourcegroup
   
          resourceGroupName: ${{ env.resourceGroupName }}
          # Specify the path or URL to the Azure Resource Manager template.
          template: main.json
          # Supply deployment parameter values.
          parameters: storageAccountName=ghactionom
          deploymentName: "gh${{github.run_id}}"
          
            
